<?xml version="1.0"?>
<!--
/**
 * Copyright © Aligent. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="pci4" frontName="pci4">
            <module name="Aligent_Pci4Compatibility"/>
        </route>
    </router>
</config>
